footer {
  font-family: Merienda;
  text-align: center;
  color: rgb(160, 149, 149);
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: rgb(160, 149, 149);
}
a:hover {
  text-decoration: underline;
  font-size: 25px;
  color: black;
}
