section {
  color: #ffffff;
  background-color: #17193c;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  opacity: 70%;
  max-height: 100%;
}
section h2 {
  font-size: 24px;
  font-weight: normal;
  margin-left: 20px !important;
}

section h1 {
  height: 96px;
  float: left;
  font-size: 65px;
  color: #ffea51;
  margin-right: 70px;
}

section img {
  width: 106px;
}

section small {
  display: block;
  text-align: left;
  margin-top: -1em;
  font-size: 20px;
  float: left;
  clear: both;
  color: #ffffff;
  margin-left: 33px;
}

section p {
  font-size: 15px;
  margin-left: 40px;
  text-align: center;
}

section h4 {
  font-size: 20px;
  text-align: center;
}
.heading {
  display: block;
  text-align: right;
  float: right;
  font-size: 40px;
  margin-top: 30px;
}
.sub-unit {
  position: relative;
  top: -35px;
  font-size: 16px;
}
.secondary-temp {
  font-size: 16px;
  position: relative;
  top: -15px;
}
.tertairy-unit {
  position: relative;
  top: -5px;
  font-size: 10px;
}
.searchForm {
  width: 450px;
  height: 50px;
  color: rgb(243, 243, 248);
  margin-left: 300px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(191, 190, 248);
  border-radius: 20px;
  margin-top: 160px;
  transition: all 300ms ease-in-out;
  font-size: 25px;
}
.submitForm {
  width: 100px;
  margin-left: 10px;
  height: 50px;
  border-radius: 20px;
  color: rgb(243, 243, 248);
  background-color: #2530fc;
  border: none;
  transition: all 300ms ease-in-out;
  font-size: 25px;
}

.submitForm:hover {
  background-color: #b6b9ec;
  color: rgb(65, 65, 119);
}
.searchForm:hover {
  background-color: #c7c8ce;
  color: rgb(1, 1, 48);
  border: none;
}
@media (max-width: 1000px) {
  .searchForm {
    width: 190px;
    height: 30px;
    margin-left: 5px;
    margin-top: 190px;
  }
  .submitForm {
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 900px) {
  section h2 {
    font-size: 14px;
    margin-left: 10px !important;
  }
  section h1 {
    height: 26px;
    font-size: 20px;
    margin-left: 5px;
  }
  section img {
    width: 26px;
    margin-bottom: 20px;
  }
  section small {
    margin-top: -5px;
    font-size: 15px;
    margin-left: 39px;
  }
  section p {
    font-size: 12px;
    margin-left: 20px;
  }
  section h4 {
    font-size: 13px;
  }
  .heading {
    font-size: 15px;
    margin-top: 10px;
  }
  section {
    max-height: 100%;
  }
  .sub-unit {
    top: -7px;
    font-size: 7px;
  }
  .secondary-temp {
    font-size: 9px;
    position: relative;
    top: -1px;
  }
  .tertairy-unit {
    position: relative;
    top: -2px;
    font-size: 7px;
  }
}
